@import "colors.css";

@define-color active        @inverse_primary;
@define-color on_active     @on_background;

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: alpha(@background, 0.5);
}

button {
    border: 2px solid @primary;
    border-radius: 20px;
    text-decoration-color: @on_background;
    color: @on_background;
    background-color: @background;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 10px;
    transition: background-color 200ms ease;
}

button:focus,
button:active,
button:hover {
    background-color: @active;
    color: @on_active;
    text-decoration-color: @on_active;
    outline-style: none;
}

#lock {
    background-image: image(
        url("/usr/share/wlogout/icons/lock.png"),
        url("/usr/local/share/wlogout/icons/lock.png")
    );
}

#logout {
    background-image: image(
        url("/usr/share/wlogout/icons/logout.png"),
        url("/usr/local/share/wlogout/icons/logout.png")
    );
}

#suspend {
    background-image: image(
        url("/usr/share/wlogout/icons/suspend.png"),
        url("/usr/local/share/wlogout/icons/suspend.png")
    );
}

#hibernate {
    background-image: image(
        url("/usr/share/wlogout/icons/hibernate.png"),
        url("/usr/local/share/wlogout/icons/hibernate.png")
    );
}

#shutdown {
    background-image: image(
        url("/usr/share/wlogout/icons/shutdown.png"),
        url("/usr/local/share/wlogout/icons/shutdown.png")
    );
}

#reboot {
    background-image: image(
        url("/usr/share/wlogout/icons/reboot.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
}
