@import "colors.css";

@define-color inactive        @inverse_primary;
@define-color hover           @primary_fixed_dim;
@define-color on_hover        @on_primary;
@define-color active          @primary_fixed;
@define-color on_active       @on_primary_fixed;

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-weight: 600;
    font-size: 11px;
}

window#waybar {
    background: transparent;
    color: @on_background;
}

#cpu,
#memory,
#battery,
#network,
#bluetooth,
#wireplumber {
    margin: 0 10px;
}

#clock,
#workspaces,
#hardwares1,
#hardwares2,
#custom-logout,
#custom-notification {
    background: alpha(@background, 0.5);
    border: 2px solid @primary;
    border-radius: 20px;
    padding: 0 20px;
}

#hardwares1,
#hardwares2 {
    padding: 0 10px;
}

#custom-logout,
#custom-notification {
    padding-left: 14px;
    padding-right: 16px;
}

#workspaces {
    padding: 5px;
}

#workspaces button {
    background: @inactive;
    color: transparent;
    padding: 0 4px;
    border-radius: 20px;
    transition: all 200ms ease-in-out;
}

#workspaces button:not(:last-child) {
    margin-right: 5px;
}

#workspaces button.active {
    background: @active;
    color: @on_active;
    padding: 0 20px;
}

#workspaces button:hover {
    background: @hover;
    color: @on_hover;
}
