@define-color text            @foreground;
@define-color background-alt  alpha(@color1, .75);
@define-color selected        @color6;
@define-color hover           alpha(@selected, .4);
@define-color active		  alpha(@selected, .2);
@define-color urgent          @color2;

* {
    color: @text;

    all: unset;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font Propo";
    transition: 200ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {
    background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
    background: alpha(@background, 0.75);
    border-radius: 10px;
    border: 2px solid @urgent;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    margin: 8px 8px 8px 0;
    padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center
    .notification-row
    .notification-background
    .notification.critical {
    background-color: @background-alt;
    border-radius: 16px;
    margin: 4px 0px;
    padding: 4px;
}

.control-center
    .notification-row
    .notification-background
    .notification.critical {
    color: @urgent;
}

.control-center
    .notification-row
    .notification-background
    .notification
    .notification-content {
    margin: 6px;
    padding: 8px 6px 2px 2px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > * {
    min-height: 3.4em;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action {
    background: alpha(@selected, 0.6);
    color: @text;
    border-radius: 12px;
    margin: 6px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:hover {
    background: @selected;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:active {
    background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
    background: transparent;
    border-radius: 6px;
    color: @text;
    margin: 0px;
    padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
    background-color: @selected;
}

.control-center
    .notification-row
    .notification-background
    .close-button:active {
    background-color: @selected;
}

progressbar,
progress,
trough {
    border-radius: 12px;
}

progressbar {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Notifications expanded-group */

.notification-group {
    margin: 2px 8px 2px 8px;
}
.notification-group-headers {
    font-weight: bold;
    font-size: 1.25rem;
    color: @text;
    letter-spacing: 2px;
}

.notification-group-icon {
    color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background: transparent;
    color: @text;
    margin: 4px;
    border-radius: 6px;
    padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background: @hover;
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
    font-size: 1.2em;
    margin: 6px;
}

.widget-title button {
    background: @background-alt;
    border-radius: 6px;
    padding: 4px 16px;
}

.widget-title button:hover {
    background-color: @hover;
}

.widget-title button:active {
    background-color: @selected;
}

/* Buttons menu */
.widget-buttons-grid {
    font-size: x-large;
    padding: 6px 2px;
    margin: 6px;
    border-radius: 12px;
    background: @background-alt;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 4px 5px;
    min-width: 62px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: transparent;
    border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked {
    background: @active;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @hover;
}

/* Music player */
.widget-mpris {
    background: @background-alt;
    border-radius: 16px;
    color: @text;
    margin: 20px 6px;
}

picture.mpris-background {
    filter: blur(10px);
}

.widget-mpris-player {
    background: transparent;
    border-radius: 16px;
    margin: 10px;
}

.widget-mpris button {
    color: @text;
    background: @background-alt;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.widget-mpris button:hover {
    background: @hover;
}

.widget-mpris-album-art {
    margin: 10px;
    border-radius: 10px;
}

.widget-mpris-title {
    background: @background-alt;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    font-size: 1rem;
}

.widget-mpris-subtitle {
    background: @background-alt;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    font-size: 0.8rem;
}
