@define-color background_alt  alpha(@inverse_primary, 0.75);
@define-color inactive        @inverse_primary;
@define-color on_inactive     @on_background;
@define-color hover           @primary_fixed_dim;
@define-color on_hover        @on_primary;
@define-color active          @primary_fixed;
@define-color on_active       @on_primary_fixed;

* {
    all: unset;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font Propo";
    transition: 200ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {
    background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
    background: alpha(@background, 0.5);
    border-radius: 10px;
    border: 2px solid @primary;
    box-shadow: 0 0 10px 0 @shadow;
    margin: 8px 8px 8px 0;
    padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center
    .notification-row
    .notification-background
    .notification.critical {
    background: @background_alt;
    color: @on_background;
    border-radius: 16px;
    margin: 4px 0px;
    padding: 4px;
}

.control-center
    .notification-row
    .notification-background
    .notification.critical {
    background: transparent;
    color: @error;
}

.control-center
    .notification-row
    .notification-background
    .notification
    .notification-content {
    margin: 6px;
    padding: 8px 6px 2px 2px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > * {
    min-height: 3em;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action {
    background: @background_alt;
    color: @on_background;
    border-radius: 12px;
    margin: 6px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:hover {
    background: @hover;
    color: @on_hover;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:active {
    background: @active;
    color: @on_active;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
    background: transparent;
    border-radius: 6px;
    margin: 0px;
    padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
    background: @hover;
    color: @on_hover;
}

progressbar,
progress,
trough {
    border-radius: 12px;
}

progressbar {
    background: rgba(255, 255, 255, 0.1);
}

/* Notifications expanded-group */

.notification-group {
    margin: 2px 8px 2px 8px;
}
.notification-group-headers {
    color: @on_background;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background: transparent;
    margin: 4px;
    border-radius: 6px;
    padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background: @hover;
    color: @on_hover;
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
    color: @on_background;
    font-size: 1.2em;
    margin: 6px;
}

.widget-title button {
    background: @inactive;
    color: @on_inactive;
    border-radius: 6px;
    padding: 4px 16px;
}

.widget-title button:hover {
    background: @hover;
    color: @on_hover;
}

.widget-title button:active {
    background: @active;
    color: @on_active;
}

/* Buttons menu */
.widget-buttons-grid {
    font-size: x-large;
    padding: 6px 2px;
    margin: 6px;
    border-radius: 12px;
    background: @background_alt;
    color: @on_background;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 4px 5px;
    min-width: 62px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: transparent;
    border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked {
    background: @active;
    color: @on_active;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @hover;
    color: @on_hover;
}

/* Music player */
.widget-mpris {
    background: @background_alt;
    border-radius: 16px;
    margin: 20px 6px;
}

picture.mpris-background {
    filter: blur(10px);
}

.widget-mpris-player {
    background: transparent;
    border-radius: 16px;
    margin: 10px;
}

.widget-mpris button {
    background: @inactive;
    color: @on_inactive;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.widget-mpris button:hover {
    background: @hover;
    color: @on_hover;
}

.widget-mpris-album-art {
    margin: 10px;
    border-radius: 10px;
}

.widget-mpris-title {
    background: @background_alt;
    color: @on_background;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    font-size: 1rem;
}

.widget-mpris-subtitle {
    background: @background_alt;
    color: @on_background;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    font-size: 0.8rem;
}
