@define-color background_alt  alpha(@inverse_primary, 0.75);
@define-color hover           @primary_fixed_dim;
@define-color on_hover        @on_primary;
@define-color active          @primary_fixed;
@define-color on_active       @on_primary_fixed;

* {
    all: unset;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font Propo";
    transition: 200ms;
}

.notification-row {
    outline: none;
    margin: 0;
    padding: 0px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification {
    padding: 6px;
    border-radius: 10px;
    background: alpha(@background, 0.5);
    box-shadow: 0 0 8px 0 @shadow;
    border: 2px solid @primary;
    border-radius: 10px;
    margin: 8px;
    padding: 0;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification.critical {
    border: 2px solid @error;
    color: @error;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    .notification-content {
    margin: 14px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > * {
    min-height: 3.4em;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action {
    border-radius: 8px;
    background: @background_alt;
    margin: 6px;
    border: 1px solid transparent;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:hover {
    background: @hover;
    color: @on_hover;
    border: 1px solid @hover;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:active {
    background: @active;
    color: @on_active;
}

.image {
    margin: 10px 20px 10px 0px;
}

.summary {
    font-weight: 800;
    font-size: 1rem;
}

.body {
    font-size: 0.8rem;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button {
    margin: 6px;
    padding: 2px;
    border-radius: 6px;
    background: transparent;
    border: 1px solid transparent;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button:hover {
    background: @hover;
    color: @on_hover;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button:active {
    background: @active;
    color: @on_active;
}

.notification.critical progress {
    background: @active;
}

.notification.low progress,
.notification.normal progress {
    background: @active;
}
