@import "colors.css";

window#osd {
    color: @on_background;
    background: alpha(@background, 0.5);
    border: 2px solid @primary;
}

progressbar {
    background: @inverse_primary;
}

progress {
    background: @primary;
}
